.grid {
    display:inline-grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
}

.gridItem {
    background-color: blue;
    /* Can use border shorthand instead of the three lines.*/
    border:2px;
    border-style:double;
    border-color:brown;
    /*The shorthand looks like this below*/
    /*border: 2px double brown;*/
    padding:10px;
    text-align:center;
}